section.account-section.linked
   .container
      .account-grid-2
         .account-grid-2__left
            h1.title.account-grid-2__title Hi, <span>Egor</span>
            h2.subtitle.account-grid-2__subtitle egor@artu.studio
            .account-grid-2__links.account-grid-2__links-desctop   
               a(href="#") Change email
               a(href="#") Change password
               a(href="#") Change name
         .account-grid-2__products.account-grid-2__products-2
            h3.account-grid-2__products-title.linked__title Connected devices
            p.linked__subtitle You can use Studio Plugins on 2 devices at the same time <span class="linked__count">2/2</span>
            .linked-os
                .linked-os__item
                    .linked-os__item-img
                        img(src="img/linked/winicon.svg", alt="win-os")
                    p.linked-os__item-title Windows PC  
                    p.linked-os__item-subtitle Desktop-DDDR123123BR
                    a(href="#").linked-os__item-link unlink  
                .linked-os__item
                    .linked-os__item-img
                        img(src="img/linked/macicon.svg", alt="mac-os")
                    p.linked-os__item-title MacOS  
                    p.linked-os__item-subtitle Macbookpro—Artur
                    a(href="#").linked-os__item-link unlink  
            h3.account-grid-2__products-title.linked__title.linked__title-2 Products
            .account-grid-2__products-item.account-grid-2__products-item-animations
               .account-grid-2__products-img
                  img(src="img/account/prod1.png", alt="")   
               .account-grid-2__products-text
                  p Text animations
                  .account-grid-2__products-links.account-grid-2__products-links-blue
                     a(href="#") How to use
                     a(href="#") See features
            .account-grid-2__products-item.account-grid-2__products-item-transitions
               .account-grid-2__products-img
                  img(src="img/account/prod2.png", alt="")   
               .account-grid-2__products-text
                  p Transitions
                  .account-grid-2__products-links.account-grid-2__products-links-red
                     a(href="#") How to use
                     a(href="#") See features
            .account-grid-2__add
               a(href="#") Add new product
            .account-grid-2__links.account-grid-2__links-mobile    
               a(href="#") Change email
               a(href="#") Change password
               a(href="#") Change name