section.benefits
   //-.section-decor
      img(src="img/home/section-decor.svg", alt="section-decor")
   .container.benefits__container
      if (currentPage === 'home-page')
         h2.benefits__title
            span.title Benefits of <span class='title-db accent'>our plugin</span>
      else
         h2.benefits__title
            span.title Works with <span class='title-db'><span class='benefits__title-c1'>Studio</span> <span class='benefits__title-c2'>Plugin</span></span>
      .benefits-list
         .benefits-list__item.benefits-list__item-1
            .benefits-list__item-inner
               img(src="img/home/benefits/1.svg", alt="")
               h4 Easy upscale video, Even in 8k
               p You will never have to rebuild a project because you decide to change the resolution. The plugin will just continue to do its job
         if (currentPage === 'home-page' || currentPage === 'download-page')
            .benefits-list__item.benefits-list__item-2
               .benefits-list__item-inner
                  img(src="img/home/benefits/2.svg", alt="")
                  h4 No subscriptions
                  p Purchase it once for Lifetime License
         else
            .benefits-list__item.benefits-list__item-2
               .benefits-list__item-inner
                  img(src="img/home/benefits/2-a.svg", alt="")
                  h4 Drag and drop
                  p Перетаскивайте нужный пресет на дорожку
         if (currentPage === 'home-page' || currentPage === 'download-page')
            .benefits-list__item.benefits-list__item-3
               .benefits-list__item-inner
                  img(src="img/home/benefits/3.svg", alt="")
                  h4 No advanced skills needed
                  p All presets are applied in one click
         else
            .benefits-list__item.benefits-list__item-3
               .benefits-list__item-inner
                  img(src="img/home/benefits/3-a.svg", alt="")
                  h4 Easy customize
                  p Каждый пресет можно настраивать
         .benefits-list__item.benefits-list__item-4
            .benefits-list__item-inner
               img(src="img/home/benefits/4.svg", alt="")
               h4 MacOS & Windows compatible
               p Use plugin and all products on both platforms
         if (currentPage === 'home-page' || currentPage === 'download-page')
            .benefits-list__item.benefits-list__item-5
               .benefits-list__item-inner
                  img(src="img/home/benefits/5.svg", alt="")
                  h4 Works <span>off</span>line
                  p We check the license once a week. The rest of the time, we don't need the Internet.
         else
            .benefits-list__item.benefits-list__item-5
               .benefits-list__item-inner
                  img(src="img/home/benefits/5-a.svg", alt="")
                  h4 90% faster import
                  p Плагин сам добавит в проект те пресеты, которые вы используете. Это позволяет начать работу с проектом без дополнительных движений.
         if (currentPage === 'home-page' || currentPage === 'download-page')
            .benefits-list__item.benefits-list__item-6
               .benefits-list__item-inner
                  img(src="img/home/benefits/6.svg", alt="")
                  h4 Auto updates is on
                  p You always have the latest version of the product — plugin updates automatically
         else
            .benefits-list__item.benefits-list__item-6
               .benefits-list__item-inner
                  img(src="img/home/benefits/6-a.svg", alt="")
                  h4 Any language, any font
                  p Каждый пресет поддерживает все шрифты, во всех текстовых слоях в Premiere Pro
      if (currentPage != 'home-page' && currentPage !== 'download-page')
         a(href='#').btn.btn--white
            .btn__inner Learn more about studio plugin
      if (currentPage === 'download-page')
         .btn-group
            .btn-group__link-btns-title Available for
            a(href='#').btn.ap
               span.btn__inner Download for MacOS
                  <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7057 2.08667C12.2579 0 14.4468 0 14.4468 0C14.4468 0 14.7652 1.96628 13.2131 3.85231C11.5415 5.85872 9.67098 5.53769 9.67098 5.53769C9.67098 5.53769 9.3128 3.93256 10.7057 2.08667Z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87006 6.90215C10.666 6.90215 12.1784 5.77856 14.1285 5.77856C17.4716 5.77856 18.7849 8.18626 18.7849 8.18626C18.7849 8.18626 16.198 9.51049 16.198 12.7207C16.198 16.3323 19.4217 17.6164 19.4217 17.6164C19.4217 17.6164 17.193 23.9566 14.1683 23.9566C12.7754 23.9566 11.7008 22.9936 10.2282 22.9936C8.7159 22.9936 7.24335 23.9566 6.28818 23.9566C3.50228 23.9968 0 17.9775 0 13.122C0 8.34677 2.9451 5.85882 5.731 5.85882C7.52194 5.81869 8.91489 6.90215 9.87006 6.90215Z"/>
                  </svg>
            a(href='#').btn
               span.btn__inner Download for Windows
                  <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.99275 0H0V8.99275H8.99275V0Z"/>
                  <path d="M20.5377 0H11.5449V8.99275H20.5377V0Z"/>
                  <path d="M8.99275 11.8369H0V20.8297H8.99275V11.8369Z"/>
                  <path d="M20.5377 11.8369H11.5449V20.8297H20.5377V11.8369Z"/>
                  </svg>