.default-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(#051227, 0.7);
  overflow: auto;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-overflow-scrolling: touch;
  &.modal-video{
    background-color: rgba(#051227, 1);
  }
  &.is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1001;
    .default-modal__content {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  &__illustration{
    text-align: center;
    margin-bottom: 20px;
    svg, img{
      transform: translateX(20px);
    }
    &-confirm{
      margin-bottom: 0;
      svg, img{
        transform: translateX(11px);
      }
    }
    &-banned{
      margin-bottom: 24px;
      svg, img{
        transform: translateX(0px);
      }
    }
    &-desctop{
      display: block;
    }
    &-mobile{
      display: none;
    }
    // svg{
    //   transform: translateX(20px);
    // }
  }
  &__border-link{
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
    display: block;
    width: 100%;
    max-width: 344px;
    padding: 14px 10px;
    border: 2px solid $text-color;
    text-align: center;
    margin-top: 40px;
    transition: 0.3s;
    &:hover{
      background: $text-color;
      color: white;
    }
  }
  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 26px;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: $text-color;
    @include transition(opacity);
    z-index: 1;
    &:hover {
      opacity: .5;
    }
  }
  &__mobile-logo{
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
  }

  &__content {
    max-width: 708px;
    width: 100%;
    margin: auto;
    opacity: 0;
    transform: translateY(-20%) scale(.8);
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
    background-color: #fff;
    color: $text-color;
    position: relative;
    padding: 100px 60px;
    &-illustration-confirm{
      padding: 69px 60px 100px;
    }
    &-video{
      padding: 0;
      background: transparent;
      width: 100%;
      max-width: 80%;
      padding: 20px;
      display: flex;
      align-items: center;
      .default-modal__close{
        fill: white;
      }
      video{
        width: 100%;
      }
    }
    &-volume{
      position: absolute;
      top: 24px;
      left: 28px;
      width: 40px;
      height: 40px;
      img{
        width: 100%;
        height: 100%;
      }
      cursor: pointer;
      &:before{
          position: absolute;
          content: '';
          width: 120%;
          height: 3px;
          background: #9e9ea1;
          transition: 0.3s;
          transform: rotate(-45deg);
          top: 19px;
          left: -7px;
          z-index: 2;
          border-radius: 5px;
      }
      &.is-active{
          &:before{
              opacity: 0;
          }
      }
    }
  }
  &__form{
    width: 100%;
    max-width: 344px;
  }
  &__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0px;
    position: relative;
    margin-bottom: 8px;
    z-index: 1;
    text-align: center;
    max-width: 364px;
    margin-bottom: 38px;
    &-chp{
      max-width: 592px;
    }
    &-illustration{
      max-width: 592px;
      margin-bottom: 10px;
    }
    span{
      color: $c-red;
    }
  }
  &__subtitle{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    max-width: 460px;
    a{
      border-bottom: 1px solid black;
      transition: 0.3s;
      display: inline-block;
      max-height: 18px;
      &:hover{
        border-bottom: 1px solid transparent;
      }
    }
  }
  &__img-fail {
    display: flex;
    max-width: 289px;
    margin: 0 auto 30px;
  }
  &--fail {
    .default-modal {
      &__title {
        max-width: none;
        margin-bottom: 30px;
      }
      &__subtitle {
        max-width: 500px;
        margin-bottom: 41px;
      }
    }
    .btn {
      max-width: 344px;
      width: 100%;
    }
  }
}
.modal-video-2, .modal-video-t, .modal-video {
  iframe{
    width: 100%;
    height: calc(100vw * 0.5625);
  }
}
.modal-cancellation{
  .btn{
    max-width: 344px;
    width: 100%;
  }
  &__title{
    max-width: 100%;
    margin-bottom: 40px;
  }
  .default-modal__subtitle{
    margin-bottom: 40px;
  }
  &__list {
    width: 100%;
    margin-bottom: 20px;
  }
  .cart-item-sm {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__product{
    padding: 20px 100px  20px 40px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    max-width: 384px;
    margin-left: auto;
    margin-right: auto;
    &-title{
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 110%;
      color: white;
    }
    &.txt_anim{
      background: #6E44E6;
    }
    &.transit{
        background: #E7AF22;
    }
    &.anim_pres{
        background: #E23078;
    }
    &.eff_pack{
        background: #72BF35;
    }
    &-img{
      width: 55px;
      height: 55px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 40px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
.modal-thx-purchase {
  text-align: center;
  .default-modal {
    &__title {
      max-width: none;
      margin-bottom: 40px;
    }
  }
  &__wrap {
    max-width: 384px;
    width: 100%;
  }
  &__list {
    width: 100%;
    margin-bottom: 20px;
  }
  .cart-item-sm {
    margin: 0 auto 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__txt {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 40px;
  }
  .btn {
    max-width: 344px;
    width: 100%;
  }
}
.modal-sub-canceled {
  .default-modal {
    &__title {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $mobile){
  .default-modal{
    &__close{
      width: 20px;
      height: 20px;
      //top: -25px;
      top: 20px;
      //right: 10px;
      right: 20px;
    }
    &__content{
      //height: 100vh;
      min-height: 100%;
      padding: 100px 20px;
      &-video{
        padding: 0px 10px;
        max-width: 100%;
        height: auto;
        .default-modal {
          &__close {
            top: -25px;
            right: 10px;
          }
        }
      }
      &-illustration{
        padding-top: 54px;
      }
      &-fail{
        padding-top: 113px;
      }
    }
    &__mobile-logo{
      display: block;
    }
    &__title{
      font-size: 28px;
      line-height: 110%;
    }
    &__illustration{
      width: 100%;
      padding: 0 10px;
      margin-bottom: 37px;
      &-desctop{
        display: none;
      }
      &-mobile{
        display: block;
      }

      svg, img{
        width: 100%;
        transform: translate(15px, 0px);
      }
      &-banned{
        width: 107%;
        svg, img{
          transform: translate(0px, -3px);
        }
      }
    }
    &__img-fail {
      max-width: 218px;
    }
    &--fail {
      .default-modal {
        &__content {
          padding: 80px 20px 32px;
        }
      }
    }
  }
  .default-modal-illustration {
    .default-modal {
      &__content {
        padding-top: 90px;
      }
    }
  }
  .modal-cancellation {
    &__title {
      margin-bottom: 30px;
    }
  }
  .modal-thx-purchase {
    .default-modal {
      &__content {
        padding-top: 80px;
      }
      &__title {
        margin-bottom: 32px;
      }
    }
    .cart-item-sm {
      margin-bottom: 10px;
    }
  }
  .modal-video, .modal-video-2{
    .default-modal__content-video{
      align-items: flex-start;
      padding-top:  60px;
    }
    .default-modal__close{
      top: 20px;
    }
  }

}

@media screen and (max-width: 340px){
  .default-modal{
    &__title{
      &-illustration{
        margin-top: -12px;
      }
      &-banned{
        margin-top: -19px;
        margin-bottom: 11px;
      }
    }
  }
}


.mob_logo_2{
  fill: #FFD81A;
}
.mob_logo_1{
  fill: #F732A2;
}
.mob_logo_3{
  fill: #8572B3;
}
.mob_logo_letter{
  fill: #231F20;
}