.default-modal.modal-act-code
    .default-modal__content
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            h2.default-modal__title Enter <span>your</span> videohive <span>activation code</span>
            form.main-form.default-modal__form(name="modal-act-code-form" novalidate="novalidate")
               .input-group
                  .input-group__label Activation code
                  input(type="text" name="act_code")
               .submit-wrapper.main-form__submit-wrapper
                  button(type="submit").main-form__submit-btn Activate
               .main-form__login
                  a(href="#").main-form__question Where can I find activation code?
.default-modal.modal-change-email
    .default-modal__content
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            h2.default-modal__title Enter <span>your new email</span> 
            form.main-form.default-modal__form(name="modal-change-email-form" novalidate="novalidate")
               .input-group
                  .input-group__label New email
                  input(type="text" name="new_email")
               .submit-wrapper.main-form__submit-wrapper
                  button(type="submit").main-form__submit-btn Change email
.default-modal.modal-change-pass
    .default-modal__content
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            h2.default-modal__title.default-modal__title-chp Enter <span>your current password</span> 
            form.main-form.default-modal__form(name="modal-change-pass-form" novalidate="novalidate")
               .input-group
                  .input-group__label Password
                  input(type="text" name="current_password")
               .submit-wrapper.main-form__submit-wrapper
                  button(type="submit").main-form__submit-btn Create new password
.default-modal.modal-change-pass-new
    .default-modal__content
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            h2.default-modal__title.default-modal__title-chp Enter <span>new password</span> 
            form.main-form.default-modal__form(name="modal-change-pass-form" novalidate="novalidate")
               .input-group
                  .input-group__label New password
                  input(type="text" name="new_password")
               .input-group
                  .input-group__label Confirm new password
                  input(type="text" name="confirm new_password")
               .submit-wrapper.main-form__submit-wrapper
                  button(type="submit").main-form__submit-btn Create new password
.default-modal.modal-change-name
    .default-modal__content
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            h2.default-modal__title Enter <span>your name</span> 
            form.main-form.default-modal__form(name="modal-change-name-form" novalidate="novalidate")
               .input-group
                  .input-group__label Name
                  input(type="text" name="name")
               .submit-wrapper.main-form__submit-wrapper
                  button(type="submit").main-form__submit-btn Save
.default-modal.default-modal-illustration.modal-success-activation
    .default-modal__content.default-modal__content-illustration
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            .default-modal__illustration
                img(src="img/modals/succact.svg", alt="")
            h2.default-modal__title.default-modal__title-illustration Successfully  <span>activated!</span> 
            p.default-modal__subtitle Now you can use Text animantions product in Premiere Studio. No additional actions required.
.default-modal.default-modal-illustration.modal-success-mail-change
    .default-modal__content.default-modal__content-illustration
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            .default-modal__illustration
                img(src="img/modals/succact.svg", alt="")
            h2.default-modal__title.default-modal__title-illustration <span>Email</span> successfully <span>changed!</span> 
            p.default-modal__subtitle Now use newemail@artu.studio in PremiereStudio and this site
.default-modal.default-modal-illustration.modal-success-password-change
    .default-modal__content.default-modal__content-illustration
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            .default-modal__illustration
                img(src="img/modals/succact.svg", alt="")
            h2.default-modal__title.default-modal__title-illustration <span>Password</span> successfully <span>changed!</span> 
            p.default-modal__subtitle Now use your new password in PremiereStudio and this site
.default-modal.default-modal-illustration.modal-success-confirm-mail
    .default-modal__content.default-modal__content-illustration-confirm
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            .default-modal__illustration.default-modal__illustration-desctop.default-modal__illustration-confirm
                img(src="img/modals/confirm.svg", alt="")
            .default-modal__illustration.default-modal__illustration-mobile
                img(src="img/modals/succconfirm.svg", alt="")
            h2.default-modal__title.default-modal__title-illustration Confirm  <span>your email</span> 
            p.default-modal__subtitle We’ve sent confirmation link to newemail@artu.studio
.default-modal.default-modal-illustration.modal-ban
    .default-modal__content.default-modal__content-illustration
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            .default-modal__illustration.default-modal__illustration-banned
                img(src="img/modals/ban.svg", alt="")

            h2.default-modal__title.default-modal__title-illustration This <span>code</span> has been <span>banned</span>  
            p.default-modal__subtitle This code has been compromised
            a(href="#").default-modal__border-link Go fuck yourself
.default-modal.default-modal-illustration.modal-fail
    .default-modal__content.default-modal__content-fail
        a(href="#").default-modal__mobile-logo
            svg( width='92' height='20'): use(xlink:href='#icon-mobile_logo')
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        .default-modal__inner
            h2.default-modal__title.default-modal__title-illustration Videohive <span>cant find </span>this <span>code</span>  
            p.default-modal__subtitle You may have sealed or this code does not exist.
            a(href="#").default-modal__border-link Help
.default-modal.default-modal-illustration.modal-video
    .default-modal__content.default-modal__content-video
        .default-modal__close(data-modal-close)
            svg(width='100%' height='100%'): use(xlink:href='#icon-close')
        <iframe class="youtube-player" width="100%" height="100%" data-src="https://www.youtube.com/embed/NM2wtte1JRE?enablejsapi=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



