section.confirm.account-section
   .container
      .account-grid
         .account-grid__left
            h1.title.confirm__title Confirm <span>your email</span>
            p.subtitle.confirm__subtitle We’ve sent the confirmation link to egor@artu.studio<br> If there i’snt email in your inbox please check spam folder.
         .account-grid__right
            .account-grid__illustration
               img(src="img/confirm/confirm.svg", alt="")
         a(href="#").account-grid__back-to-main Main page



