// Widths
$mobile-sm:     479px;
$mobile:        575px;
$mobile-big:    767px;
$tablet:        991px;
$desktop:       1199px;

//$grid-spacing
$grid-spacing-sm: 20px;
// Fonts
$default-font: 'ProximaNova', 'Roboto', sans-serif;//300/500/700/800

// Colors
$t: rgba(#000, 0.2);

$text-color: #000000;
$c-black05: rgba(#000, 0.5);
$c-black03: rgba(#000, 0.3);
$c-white05: rgba(#fff, 0.5);
$c-white: white;
$c-red: #FF244C;
$c-lgray: #F6F6F6;
$c-lblue: #EBF8FF;
$c-dblue: #051227;
$c-fiolet: #7A77FF;
$c-magenta: #FE38FF;
$c-yellow: #E8AC43;
$c-gold: #FFD15A;
$c-cyan: #5BF5FF;
$c-dbrown: #181818;
$c-dbrown2: #232323;
$c-cs5: #C5C5C5;
$c-c4: #C4C4C4;
$c-b1: #B1B1B1;
$c-31: #313131;
$c-32: #323232;
$c-1d: #1D1D1D;
$c-17: #171717;
$c-ac: #ACACAC;
$c-86: #868686;
$c-2c: #2C2C2C;
$c-blue-2: #298AF9;
$c-orange: #EC5829;
$g-fiolet: radial-gradient(74.46% 120.71% at 57.53% 21.14%, #410646 0%, #051227 100%);
$color-placeholder: rgba(0,0,0,.5);

$color-error: #FF0000;

$accent: #FF3A71;