section.politic
    .container
        h1.politic__title
            span.title End-User <span class='accent'>License Agreement</span>
        .politic__main
            .politic__section
                p Studioplugins.net may collect statistics about the behavior of visitors to its website. Studioplugins.net may display this information publicly or provide it to others. However, Studioplugins.net does not disclose your personally-identifying information.
            .politic__section
                h2 Cookies
                p To enrich and perfect your online experience, Studioplugins.net uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.
                p A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Studioplugins.net uses cookies to help Studioplugins.net identify and track visitors, their usage of https://Studioplugins.net, and their website access preferences. Studioplugins.net visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Pixleaks.com's websites, with the drawback that certain features of Studioplugins.net's websites may not function properly without the aid of cookies.
                p By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Studioplugins.net's use of cookies.
            .politic__section
                h2 Privacy Policy Changes
                p Although most changes are likely to be minor, Studioplugins.net may change its Privacy Policy from time to time, and in Studioplugins.net's sole discretion. Studioplugins.net encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.