section.reset.account-section
   .container
      .account-grid
         .account-grid__left
            h1.title.reset__title Reset <span>password</span>
            h2.subtitle.reset__subtitle Enter your email and we will send the recovery link to your email
         .account-grid__right
            form.main-form.reset__form(name="reset_password" novalidate="novalidate")
               .input-group
                  .input-group__label Email
                  input(type="text" name="mail")
               .submit-wrapper.main-form__submit-wrapper
                  button(type="submit").main-form__submit-btn Reset password
               .main-form__links
                  a(href="#").main-form__log-in Log in
                  a(href="#").main-form__creaste-account Create account


