section.resetcheckmail.account-section
   .container
      .account-grid
         .account-grid__left
            h1.title.resetcheckmail__title Confirm <span>your email</span>
            h2.subtitle.resetcheckmail__subtitle We’ve sent password recovery link to 
               a(href="mailto:egor@artu.studio") egor@artu.pw
         .account-grid__right
            .account-grid__illustration
               img(src="img/confirm/confirm.svg", alt="")
         a(href="#").account-grid__back-to-main Main page
