section.account.account-section
   .container
      .account-grid-2
         .account-grid-2__left
            h1.title.account-grid-2__title Hi, <span>Egor</span>
            h2.subtitle.account-grid-2__subtitle egor@artu.studio
            .account-grid-2__links.account-grid-2__links-desctop    
               a(href="#") Change email
               a(href="#") Change password
               a(href="#") Change name
         .account-grid-2__add-prod
            a(href="#")
               <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M60 0H40V40H0V60H40V100H60V60H100V40H60V0Z" fill="white"/>
               </svg>
               p Add new product
         .account-grid-2__links.account-grid-2__links-mobile    
            a(href="#") Change email
            a(href="#") Change password
            a(href="#") Change name

