.btn {
  position: relative;
  display: inline-block;
  min-width: 240px;
  width: auto;
  height: 50px;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  color: #000;
  z-index: 1;
  transition: .25s linear;
  transition-property: background-color, border-color;
  padding: 0;
  margin: 0;
  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .25s linear;
    transition-property: color;
    padding-left: 20px;
    padding-right: 20px;
  }
  svg {
    fill: #000;
    transition: .25s linear;
    transition-property: fill, stroke;
    margin-left: 20px;
  }
  &:hover {
    background-color: #000;
    color: #fff;
    svg {
      fill: #fff;
    }
  }
  &:focus,
  &:active {
    background-color: rgba(0,0,0,.8);
    border-color: rgba(0,0,0,.8);
    color: #fff;
    svg {
      fill: #fff;
    }
  }
  &--white {
    border-color: #fff;
    color: #fff;
    svg {
      fill: #fff;
    }
    &:hover {
      background-color: #fff;
      color: #000;
      svg {
        fill: #000;
      }
    }
    &:focus,
    &:active {
      background-color: rgba(255,255,255,.8);
      border-color: rgba(255,255,255,.8);
      color: #000;
      svg {
        fill: #000;
      }
    }
  }
  &--red {
    border-color: $c-red;
    color: #fff;
    background-color: $c-red;
    svg {
      fill: #fff;
    }
    &:hover {
      border-color: #000;
      background-color: #000;
      color: $c-red;
      svg {
        fill: $c-red;
      }
    }
    &:focus,
    &:active {
      background-color: rgba(0,0,0,.8);
      border-color: rgba(0,0,0,.8);
      color: $c-red;
      svg {
        fill: $c-red;
      }
    }
  }
  &--yellow {
    border-color: $c-gold;
    background-color: $c-gold;
    color: #000;
    svg {
      fill: #000;
    }
    &:hover {
      border-color: #000;
      background-color: #000;
      color: $c-gold;
      svg {
        fill: $c-gold;
      }
    }
    &:focus,
    &:active {
      background-color: rgba(0,0,0,.8);
      border-color: rgba(0,0,0,.8);
      color: $c-gold;
      svg {
        fill: $c-gold;
      }
    }
  }
  &--pink {
    border-color: $c-magenta;
    background-color: $c-magenta;
    color: #000;
    svg {
      fill: #000;
    }
    &:hover {
      border-color: #000;
      background-color: #000;
      color: $c-magenta;
      svg {
        fill: $c-magenta;
      }
    }
    &:focus,
    &:active {
      background-color: rgba(0,0,0,.8);
      border-color: rgba(0,0,0,.8);
      color: $c-magenta;
      svg {
        fill: $c-magenta;
      }
    }
  }
  &.ap {
    svg {
      margin-top: -2px;
    }
  }
}