.product-included {
  background-color: $c-dbrown;
  padding: 140px 0;
  &__title {
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #fff;
    text-align: center;
    margin-bottom: 41px;
  }
}
@media (max-width: $mobile-big) {
  .product-included {
    padding: 60px 0 0;
  }
}
@media (max-width: $mobile) {
  .product-included {
    .container {
      padding: 0 $grid-spacing-sm;
    }
    &__title {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
}