section.product-included
    .container
        h2.product-included__title This product included in bundle
        .product-item.product-item--wide
            img(src='img/account/dec2.svg' alt='decor').product-item__decor
            .product-item__img-wrap
                img(src='img/account/prods/5.png' alt='product').product-item__img
                img(src='img/account/product-decor.svg' alt='product').product-item__img-decor
            .product-item__video
                video(src='abstract-preview.mp4' muted loop)
            .product-item__content
                .product-item__label
                    span Save 53$
                .product-item__name Nitrozme<br> experience bundle
                .product-item__footer
                    a(href='#').product-item__footer-txt Buy for 215$
                    a(href='#').product-item__footer-txt Subscribe for 45$/month