section.accountaddedsingle.account-section
   .container
      .account-grid-2
         .account-grid-2__left
            h1.title.account-grid-2__title Hi, <span>Egor</span>
            h2.subtitle.account-grid-2__subtitle egor@artu.studio
            .account-grid-2__links.account-grid-2__links-desctop   
               a(href="#") Change email
               a(href="#") Change password
               a(href="#") Change name
         .account-grid-2__products.account-grid-2__products-2
            .account-grid-2__products-item.account-grid-2__products-item-animations
               .account-grid-2__products-img
                  img(src="img/account/prod1.png", alt="")   
               .account-grid-2__products-text
                  p Text animations
                  .account-grid-2__products-links.account-grid-2__products-links-blue
                     a(href="#") How to use
                     a(href="#") See features
            .account-grid-2__products-item.account-grid-2__products-item-transitions
               .account-grid-2__products-img
                  img(src="img/account/prod2.png", alt="")   
               .account-grid-2__products-text
                  p Transitions
                  .account-grid-2__products-links.account-grid-2__products-links-red
                     a(href="#") How to use
                     a(href="#") See features
            .account-grid-2__add
               a(href="#") Add new product
            .account-grid-2__links.account-grid-2__links-mobile    
               a(href="#") Change email
               a(href="#") Change password
               a(href="#") Change name

