section.downloaded
    .container 
        .downloaded-banner
            .downloaded-banner__left 
                h1.title.downloaded-banner__title Thank you for <span>downloading!</span>
                p.downloaded-banner__subtitle.downloaded-banner__subtitle-desk After download:
                ol.downloaded-banner__list.downloaded-banner__list-desctop
                    li.downloaded-banner__list-item Install zxp-installer
                    li.downloaded-banner__list-item Drag premierestudio.zxp into zxp installer
                    li.downloaded-banner__list-item Go to Premiere Pro <span>→</span>  window <span>→</span> extensions <span>→</span> PremiereStudio and click on it
            .downloaded-banner__right
                .downloaded-banner__right-block
                    a(href="#") Go to the Tutorial
                    p Hello, friend! Have questions?
                    img(src="img/downloaded/dwl_img.svg", alt="")
                p.downloaded-banner__subtitle.downloaded-banner__subtitle-mob After download:
                ol.downloaded-banner__list.downloaded-banner__list-mobile
                    li.downloaded-banner__list-item Install zxp-installer
                    li.downloaded-banner__list-item Drag premierestudio.zxp into zxp installer
                    li.downloaded-banner__list-item Go to Premiere Pro <span>→</span>  window <span>→</span> extensions <span>→</span> PremiereStudio and click on it
        .downloaded__grid
            a(href='#').product-item.product-item--blue
                img(src='img/account/dec2.svg' alt='decor').product-item__decor
                .product-item__img-wrap
                    img(src='img/account/prods/1-lg.png' alt='product').product-item__img
                .product-item__content
                    .product-item__name Text animations
                    .product-item__footer
                            .product-item__footer-txt Buy for 45$

            a(href='#').product-item.product-item--yellow
                img(src='img/account/dec2.svg' alt='decor').product-item__decor
                .product-item__img-wrap
                    img(src='img/account/prods/2-lg.png' alt='product').product-item__img
                .product-item__content
                    .product-item__name Transitions
                    .product-item__footer
                            .product-item__footer-txt.opacity Purchased

            a(href='#').product-item.product-item--wide
                img(src='img/account/dec2.svg' alt='decor').product-item__decor
                .product-item__img-wrap
                    img(src='img/account/prods/5.png' alt='product').product-item__img
                    img(src='img/account/product-decor.svg' alt='product').product-item__img-decor
                .product-item__content
                    .product-item__label
                            span Save 53$
                    .product-item__name Nitrozme<br> experience bundle
                    .product-item__footer
                            .product-item__footer-txt Buy for 215$
                            .product-item__footer-txt Subscribe for 45$/month
        a(href="#").btn
            .btn__inner All products