section.downloaded
    .container 
        .downloaded-banner
            .downloaded-banner__left 
                h1.title.downloaded-banner__title Thank you for <span>downloading!</span>
                p.downloaded-banner__subtitle.downloaded-banner__subtitle-desk After download:
                ol.downloaded-banner__list.downloaded-banner__list-desctop
                    li.downloaded-banner__list-item Install zxp-installer
                    li.downloaded-banner__list-item Drag premierestudio.zxp into zxp installer
                    li.downloaded-banner__list-item Go to Premiere Pro <span>→</span>  window <span>→</span> extensions <span>→</span> PremiereStudio and click on it
            .downloaded-banner__right
                img(src="img/downloaded/downloaded.jpg", alt="")
                p.downloaded-banner__subtitle.downloaded-banner__subtitle-mob After download:
                ol.downloaded-banner__list.downloaded-banner__list-mobile
                    li.downloaded-banner__list-item Install zxp-installer
                    li.downloaded-banner__list-item Drag premierestudio.zxp into zxp installer
                    li.downloaded-banner__list-item Go to Premiere Pro <span>→</span>  window <span>→</span> extensions <span>→</span> PremiereStudio and click on it
        .downloaded-prods
            .downloaded-prods__item.downloaded-prods__item-1 
                .downloaded-prods__item-img
                     img(src="img/downloaded/prod1.png" alt="")
                .downloaded-prods__item-text
                    p.downloaded-prods__item-text-title Text animations
                    p.downloaded-prods__item-text-p Over 1000 Professional Motion Text Presets for Premiere Pro inside Premiere Studio Plugin Motion Text Presets contains more than 1000 ready to use presents which can help you make your unique video on a professional level.
                    
            .downloaded-prods__item.downloaded-prods__item-2 
                .downloaded-prods__item-img
                     img(src="img/downloaded/prod2.png" alt="")
                .downloaded-prods__item-text
                    p.downloaded-prods__item-text-title Transitions
                    p.downloaded-prods__item-text-p Over 1000 Professional Motion Text Presets for Premiere Pro inside Premiere Studio Plugin Motion Text Presets contains more than 1000 ready to use presents which can help you make your unique video on a professional level.
                    
