.download-hero {
  background: radial-gradient(74.46% 120.71% at 57.53% 21.14%, #051227 0%, #410646 100%);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0 27px;
  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 30px;
    img {
      flex-shrink: 0;
      margin-right: 15px;
    }
  }
  &__title {
    font-size: 48px;
    line-height: 53px;
    font-weight: bold;
    margin-bottom: 28px;
  }
  &__features {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
  }
  .separate {
    margin-left: 30px;
    margin-right: 30px;
  }
  &__link-btns-title {
    display: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-right: 20px;
  }
  &__link-group {
    max-width: 604px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__link-group-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      margin-right: 20px;
      &:nth-child(3) {
        margin-right: 0;
      }
    }
    a[data-modal="modal-pre-dwl-mobile"]{
      display: none;
    }
  }
  .btn {
    width: 100%;
  }
  &__btn-demo {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    margin-bottom: 20px;
    svg {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}

@media (max-width: $tablet) {
  .download-hero {
    padding: 80px 0 40px;
    // &__link-btns-title {
    //   display: block;
    // }
    &__link-group-inner {
      a.dwl_link{
        display: none;
      }
      a[data-modal="modal-pre-dwl-mobile"]{
        display: block;
        margin-right: 0;
      }
      // .btn {
      //   pointer-events: none;
      //   width: auto;
      //   min-width: auto;
      //   height: auto;
      //   font-size: 0;
      //   border: none;
      //   background: none;
      //   margin-right: 16px;
      //   margin-bottom: 0;
      //   &__inner {
      //     padding: 0;
      //   }
      //   svg {
      //     margin-left: 0;
      //     margin-right: 0;
      //   }
      // }
    }
  }
}
@media (max-width: $mobile-big) {
  .download-hero {
    &__subtitle {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 28px;
      line-height: 31px;
      margin-bottom: 20px;
    }
    &__features {
      margin-bottom: 40px;
    }
    &__link-group-inner {
      .btn {
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .download-hero {
    padding-top: 37px;
    .container {
      padding: 0 $grid-spacing-sm;
    }
    .separate {
      margin: 0 20px;
    }
    &__btn-demo {
      margin-bottom: 22px;
    }
  }
}
@media (max-width: $mobile-sm) {
  .download-hero {
    &__title {
      span {
        display: block;
      }
    }
  }
}