.product-item {
  display: block;
  max-width: 604px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #6E44E6;
  padding: 40px;
  &__decor {
    position: absolute;
    right: 0;
    top: -15px;
    height: calc(100% + 15px);
    mix-blend-mode: overlay;
  }
  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 260px;
    height: 260px;
    width: 100%;
    position: relative;
    margin: 0 auto 40px;
    transition: .25s linear;
    transition-property: opacity,visibility;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__img-decor {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    mix-blend-mode: overlay;
  }
  &__video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: .25s linear;
    transition-property: opacity,visibility;
    video,iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__label {
    font-size: 30px;
    line-height: 140%;
    font-weight: 800;
    display: inline-block;
    border: 2px solid #fff;
    height: 82px;
    width: auto;
    padding: 0 40px;
    margin-bottom: auto;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    position: relative;
  }
  &__name {
    font-size: 36px;
    line-height: 110%;
    font-weight: 800;
    margin-bottom: 10px;
  }
  &__footer {
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__footer-txt {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  a.product-item__footer-txt {
    transition: .25s linear;
    transition-property: color;
    //&:hover {
    //  color: #000;
    //}
  }
  .opacity {
    opacity: .7;
  }
  &--sm {
    background-color: #35A6BF;
    padding-left: 29px;
    padding-right: 29px;
  }
  &--wide {
    max-width: none;
    background-color: #FF244C;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-left: 80px;
    .product-item {
      &__decor {
        display: none;
      }
      &__content {
        width: 429px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
        margin-right: 39px;
      }
      &__img-wrap {
        max-width: 660px;
        height: 378px;
        width: 100%;
        order: 1;
        margin: 0;
      }
      &__footer {
        justify-content: flex-start;
      }
    }
  }
  &--yellow {
    background-color: #E7AF22;
  }
  &--pink {
    background-color: #EA42CF;
  }
  &--green {
    background-color: #72BF35;
  }
  &.is-video {
    .product-item {
      &__img-wrap {
        opacity: 0;
        visibility: hidden;
      }
      &__video {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: $desktop) {
  .product-item {
    padding: 20px;
    &__img-wrap {
      max-width: 180px;
      height: 180px;
    }
    &__name {
      font-size: 28px;
    }
    &__footer {
      font-size: 16px;
    }
    &--wide {
      .product-item {
        &__img-wrap {
          height: 300px;
        }
      }
    }
  }
}
@media (max-width: $tablet) {
  .product-item {
    &__img-wrap {
      max-width: 130px;
      height: 130px;
      margin-bottom: 15px;
    }
    &__name {
      font-size: 24px;
    }
    &__footer-txt {
      margin: 0 10px;
      &:last-child {
        margin: 0 10px;
      }
    }
    &__label {
      height: 50px;
      font-size: 24px;
      padding: 0 20px;
    }
    &--wide {
      .product-item {
        &__img-wrap {
          height: 250px;
        }
        &__content {
          width: 329px;
          padding: 0;
          margin-right: 20px;
        }
        &__footer-txt {
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    &--sm {
      padding: 20px 10px;
    }
  }
}
@media (max-width: $mobile-big) {
  .product-item {
    &__decor {
      top: -10px;
      right: -15px;
      //height: calc(100% + 44px);
      height: auto;
      max-width: 68px;
      width: 100%;
    }
    &__name {
      font-size: 21px;
    }
    &--sm {
      .product-item {
        &__footer {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .product-item {
    &__label {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #fff;
      color: $c-red;
      height: 30px;
      font-size: 14px;
      padding: 0 10px;
    }
    &--sm {
      padding: 20px;
    }
    &--wide {
      display: block;
      text-align: center;
      .product-item {
        &__img-wrap {
          height: 100px;
          margin-bottom: 15px;
        }
        &__img-decor {
          display: none;
        }
        &__decor {
          display: block;
        }
        &__content {
          width: 100%;
          display: block;
        }
        &__name {
          br {
            display: none;
          }
        }
        &__footer {
          justify-content: center;
        }
        &__footer-txt {
          &:first-child {
            margin: 0 10px;
          }
        }
      }
    }
  }
}
@media (max-width: $mobile-sm) {
  .product-item {
    padding-bottom: 10px;
    &__img-wrap {
      height: 100px;
    }
    &__footer-txt {
      margin-bottom: 10px;
      &:last-child {
        margin: 0 10px 10px;
      }
    }
    &--wide {
      .product-item {
        &__footer-txt {
          margin-bottom: 10px;
          &:first-child {
            margin-bottom: 10px;
          }
          &:last-child {
            margin: 0 10px 10px;
          }
        }
      }
    }
    &--sm {
      .product-item {
        &__footer {
          font-size: 16px;
        }
      }
    }
  }
}