.product-item.product-item--sm.product-item--pink
    img(src='img/account/dec2.svg' alt='decor').product-item__decor
    .product-item__img-wrap
        img(src='img/account/prods/3-lg.png' alt='product').product-item__img
    .product-item__content
        .product-item__name Animation Presets
        .product-item__footer
            a(href='#').product-item__footer-txt.opacity In the cart
            a(href='#').product-item__footer-txt Subscribe for 5$/month