section.waytocreate
    .waytocreate__bg
        img(src="img/trapeze2.png", alt="waytocreate-bg")
    .container.waytocreate__container
        .waytocreate-content-wrapper
            h2.waytocreate__title.title A new way <span>to create</span>
    .swiper-container.waytocreate__slider
        .swiper-wrapper
            .swiper-slide.waytocreate-content
                .waytocreate-content__inner
                    .waytocreate-content__left
                        h4 90% faster import
                        p Now you don’t need to import presets into the project every time - they are sorted automatically without user intervention. Only those presets that are needed in the project are added to the project. This allows you to start working with the project without additional movements.
                    .waytocreate-content__right
                        img(src="img/home/way/1.jpg", alt="waytocreate")
            .swiper-slide.waytocreate-content
                .waytocreate-content__inner
                    .waytocreate-content__left
                        h4 Easy customize
                        p Each preset can be customized as you need it.
                    .waytocreate-content__right
                        img(src="img/home/way/2.jpg", alt="waytocreate")
            .swiper-slide.waytocreate-content
                .waytocreate-content__inner
                    .waytocreate-content__left
                        h4 All product in one place
                        p All your products are already in the plugin. Forget about downloading archieves
                    .waytocreate-content__right
                        img(src="img/home/way/3.jpg", alt="waytocreate")
            .swiper-slide.waytocreate-content
                .waytocreate-content__inner
                    .waytocreate-content__left
                        h4 Work with multiple products at once
                        p No need to import each product into a project. Work with multiple products at once, even if you need only one preset from the entire product.
                    .waytocreate-content__right
                        img(src="img/home/way/4.jpg", alt="waytocreate")
        .swiper-pag.waytocreate__pag
section.img-way
    img(src="img/home/img-way-big.png", alt="").img-way__img                   