section.article
    .container
        h2.title.article__title Over 650 elements&presets for any media content
            span 20 March
        .help-c__content.article__content
            .article__content-inner
                p For the past three months, I’ve been working on what I’ve named the Deep Space Nine Upscale Project (DS9UP). The goal of DS9UP is to create a new, much-improved version of the show by applying modern processing techniques to the original DVD source before using AI-based software to create a higher-resolution version of the show. It’s had me thinking about upscaling and upscalers in general. Upscaling isn’t a feature we talk about much, but how your TV handles it (or, alternately, how you use the capability on a PC) can have a significant impact on how you experience content.
                .help-c__media-wrap
                    .help-c__media-prev.help-video-btn(data-video-id='i57p-G0Xs2M' data-video='<iframe width="1280" height="548" src="https://www.youtube.com/embed/j4Q9y4gXaTQ?enablejsapi=1&amp;wmode=transparent" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>')
                        .help-c__media-txt-block(style='background-image:url(img/video-bg-2.jpg)')
                            .help-c__media-title Video name
                            .play-btn
                                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g style="mix-blend-mode:overlay">
                                <circle cx="50" cy="50" r="49" stroke="white" stroke-width="2"/>
                                </g>
                                </svg>
                                svg(width="28" height="30"): use(xlink:href='#icon-play')
                p The word “upscale” generically means “to improve the value or quality of something.” In the video and PC space, it’s almost always a reference to increasing the effective resolution of a piece of content. There is typically an understood difference between upscaling and native resolution. If you upscale a 1080p video into 4K, it means you are taking a 1080p input and using a combination of hardware and software to create a larger image. This upscaled image will not be identical to a native 4K signal, but it should offer a better picture than what was previously available on your 720p or 1080p television.
                .help-c__section-title How the Scalar Sausage Gets Made (H1)
                p The most basic function of a video scaler is to take whatever image it receives — 480i, 720p, 1080p — and stretch it across the entire screen. Without this functionality, a 1080p signal would take up just a fraction of a 4K television’s display. This simple resizing is typically done by taking each individual 1080p pixel and creating four pixels out of it (remember, 4K is four times the pixels of 1080p).
                .help-c__subtitle Real-Time AI Processing (H2)
                P I haven’t tested the most recent Nvidia Shield myself, but there’s a demo you can actually play with on Nvidia.com to apply the effect the TV offers. Here’s a screenshot of the effect. I’ve positioned the slider over the lizard’s eye because it’s the easiest place to see the upscaler’s impact:
                ul
                    li You will see a screen like the one in the screenshot above;
                    li Find the plugin by typing the plugin name or the functionality you are looking for;
                    li After that, you will see a bunch of listings like the example below.
                .help-c__media-wrap
                    .help-c__media-prev
                        .help-c__media-txt-block(style='background-image:url(img/help-contacts-3.jpg)')
                            .help-c__media-title Image name
                p This is what the credits look like if you watch them on the source DVDs. The improvements from this version to my own are not small.
                p Upscalers are amazing and only getting better. That’s true no matter how you consume content or what technology you use to do it. Depending on the shows you like and how much time you want to sink into the project, there are tremendous improvements to be had… or you can just wait a few years, and buy a <span class='accent'>better TV</span>. You can read more about DS9UP at the links below.
                .help-c__media-wrap
                    .help-c__media-prev
                        .help-c__media-txt-block(style='background-image:url(img/help-contacts-4.jpg)')
                p You may also want to see our plugins category where we write about the best WordPress plugins that you can use to accomplish whatever you’re looking to do. Each of those articles comes with step-by-step instructions on how to set up individual plugins.