.account-section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.account-grid{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-left: 52px;
    // background: url(../img/trapeze.png);
    // background-size: cover;
    // background-repeat: no-repeat;
    min-height: 616px;

    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: $c-lgray;
        z-index: -1;
        top: 0;
        left: 0;
        clip-path: polygon(0 35.3%,0 0,100% 0,100% 100%);
    }
    &__right{
        width: 100%;
        max-width: 344px;
        margin-right: 156px;
    }
    &__back-to-main{
        position: absolute;
        bottom: 0;
        left: 52px;
        display: block;
        border: 2px solid $text-color;
        padding: 12px 0 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        width: 100%;
        max-width: 344px;
        text-align: center;
        transition: 0.3s;
        &:hover{
            background: $text-color;
            color: white;
        }
    }
    &__illustration{
        width: 100%;
        max-width: 341px;
        img{
            width: 100%;
            transform: translate(3px, 14px)
        }
    }
}
.register .account-grid:before{
    clip-path: polygon(0 46.3%,0 0,100% 0,100% 100%)
}
.login .account-grid:before{
    clip-path: polygon(0 38.7%,0 0,100% 0,100% 100%);
}
.account-grid-2{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 50px;
    padding-left: 52px;
    padding-right: 52px;
    background: $c-lgray;
    &__title{
        max-width: 400px;
        word-wrap:  break-word;
        padding-right: 5px;
    }
    &__subtitle{
        margin-bottom: 41px;
    }
    &__add-prod{
        width: 100%;
        max-width: 708px;
        display: flex;
        background: $g-fiolet;
        padding-top: 114px;
        padding-bottom: 114px;
        margin-top: 2px;
        &:hover{
            svg{
                path{
                    fill: $c-red;
                }
            }
            p{
                color: $c-red;
            }
        }
    }
    &__add-plus{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $c-white;
        svg{
            display: block;
            margin-bottom: 40px;
            path{
                transition: 0.3s;
            }
        }
        p{
            font-weight: 800;
            font-size: 28px;
            line-height: 110%;
            transition: 0.3s;
        }

    }

    &__links{
        &-mobile{
            display: none;
        }
        a{
            display: block;
            color: $text-color;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            margin-bottom: 20px;
            transition: 0.3s;
            &:hover{
                color: $c-red;
            }
        }
    }
    &__products{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 708px;
        padding-top: 2px;
        &-2{
            padding-top: 2px;
        }
        &-title{
            margin-bottom: 40px;
        }
        &-item{
            width: 100%;
            background: url(../img/account/account-item.jpg);
            background-size: cover;
            background-position: center;
            padding-top: 21px;
            padding-bottom: 19px;
            display: flex;
            color: $c-white;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            &-animations{
                &::before{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: rgba(31, 31, 34, 0.9);
                    z-index: -1;
                }
            }
            &-transitions{
                &::before{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: rgba(1, 37, 136, 0.9);
                    z-index: -1;
                }
            }
        }
        &-img{
            width: 338px;
            text-align: right;
            margin-right: 20px;
            margin-right: 58px;

            img{
                width: 100%;
                max-width: 340px;
                transform: translate(26px, 5px);
            }
        }
        &-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                font-weight: 800;
                font-size: 28px;
                line-height: 110%;
                margin-bottom: 10px;
                letter-spacing: 0.4px;
            }
        }
        &-links{
            display: flex;
            justify-content: space-between;
            width: 100%;
            min-width: 202px;
            a{
                font-weight: 600;
                font-size: 16px;
                line-height: 140%;
                transition: 0.3s;
            }
            &-red{
                a{
                    &:hover{
                        color: $text-color;
                    }
                }
            }
            &-blue{
                a{
                    &:hover{
                        color: $c-red;
                    }
                }
            }
        }
    }
    &__products-title{
        font-size: 38px;
        line-height: 110%;
        font-weight: 800;
    }
    &__add{
        width: 100%;
        margin-top: 20px;
        a{
            display: block;
            width: 100%;
            font-weight: 800;
            font-size: 16px;
            line-height: 140%;
            padding: 13px 10px 11px;
            text-align: center;
            border: 2px solid $text-color;
            transition: 0.3s;
            &:hover{
                background: $text-color;
                color: white;
            }
        }
    }
}
.plus{
    position: relative;
    width: 100px;
    height: 100px;


}
@media screen and (max-width: $desktop){
    .account-grid{
        &__right{
            margin-right: 85px;
            margin-left: 10px;
        }
    }
    .account-grid-2{
        &__links{
            a{
                margin-right: 10px;
            }
        }
        &__add-prod{
            max-width: 100%;
            margin-bottom: 40px;
        }
        &__products{
            max-width: 100%;
        }
        &__add{
            margin-bottom: 40px;
        }
        &__left{
            flex-shrink: 0;
            margin-right: 30px;
        }
        &.tabs{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
@media screen and (max-width: $tablet){
    .account-section{
        padding-top: 0px;
        padding-bottom: 60px;
    }
    .account-grid{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        padding-top: 40px;
        &::before{
            clip-path: polygon(0 84.3%,0 0,100% 0,100% 100%);
            height: 100%;
        }
        &__right{
            margin-right: 0;
            margin-left: 0;
            margin-top: 39px;
            padding-right: 20px;
            padding-left: 20px;
        }
        &__back-to-main{
            position: static;
            margin-top: 17px;
            max-width: 260px;
        }
        &__illustration{
            img{
                transform: translate(0px,-7px);
            }
        }
    }
    .register .account-grid:before{
        height: 102.6%;
        clip-path: polygon(0 87.3%,0 0,100% 0,100% 100%);
    }
    .login .account-grid:before{
        height: 102.9%;
        clip-path: polygon(0 85.6%,0 0,100% 0,100% 100%);
    }
    .resetcheckmail .account-grid:before{
        clip-path: polygon(0 84.3%,0 0,100% 0,100% 100%);
        height: 102%;
    }
    .reset .account-grid:before{
        clip-path: polygon(0 80.3%,0 0,100% 0,100% 100%);
    }
    .resetcreatepass .account-grid:before{
        clip-path: polygon(0 81.3%,0 0,100% 0,100% 100%);
    }
    .confirm .account-grid__right{
        margin-top: 30px;
    }
    .resetcheckmail .account-grid__right{
        margin-top: 30px;
    }
    .account-grid-2{
        padding: 40px 20px 20px;
        &__left{
            width: 100%;
        }
        &__title{
            max-width: 100%;
        }
        &__subtitle{
            margin-bottom: 41px;
        }
        &__products-title{
            font-size: 28px;
            line-height: 110%;
        }
        &__add-prod{
            padding-bottom: 64px;
            padding-top: 40px;
            margin-bottom: 10px;
            a{
                padding-top: 66px;
                padding-bottom: 64px;
                p{
                    font-size: 18px;
                    line-height: 110%;
                }
                svg{
                    width: 50px;
                    height: 50px;
                    margin-bottom: 22px;
                }
            }
        }
        &__add-plus{
            p{
                font-size: 18px;
            }
        }
        &__products{
            padding-top: 3px;
            &-img{
                width: 50%;
            }
            &-text{
                padding-left: 0;
            }
        }
    }
}

@media screen and (max-width: $mobile-big){
    .account-grid-2{
        &__products-item{
            flex-direction: column;
            align-items: center;
        }
        &__products{
            &-img{
                width: 100%;
                text-align: center;
                margin-right: 0;
                padding-top: 66px;
                padding-bottom: 50px;
                img{
                    transform: none;
                }
            }
            &-text{
                width: 100%;
            }
            &-links{
                max-width: 202px;
            }
        }
    }
    
}
@media screen and (max-width: $mobile){
    .account-grid{
        // background: url(../img/trapeze-mob.jpg);
        // background-size: cover;
        // background-repeat: no-repeat;
        background-position: bottom;
        min-height: 633px;
    }
    .login{
        .account-grid{
            min-height: 568px;
        }
    }
    .reset{
        .account-grid{
            min-height: 498px;
        }
    }
    .resetcreatepass{
        .account-grid{
            min-height: 530px;
        }
    }
    .account-grid-2{
        &__products{
            &-item{
                padding-top: 0;
                margin-bottom: 10px;
            }
            &-text{
                margin-top: -17px;
                margin-bottom: 23px;
            }
        }
        &__add{
            margin-top: 10px;
            &-prod{
                padding-top: 64px;
            }
        }
        &__add-prod{
            padding-top: 55px;
            padding-bottom: 54px;
        }
        &__add-plus{
            svg{
                width: 50px;
                height: 50px;
                margin-bottom: 23px;
            }
            p{
                width: calc(100% - 40px);
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 340px){
    .account-section{
        &__products-img{
            img{
                max-width: 227px;
            }
        }
    }
}