.catalog {
  padding: 80px 0 62px;
  .title {
    &::before {
      right: -110px;
    }
  }
  &__title {
    margin-bottom: 37px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .product-item {
    width: 100%;
    grid-column: span 2;
    &--blue,
    &--yellow {
      grid-column: span 3;
    }
    &--wide {
      grid-column: span 6;
    }
  }
}

@media (max-width: $tablet) {
  .catalog {
    &__grid {
      grid-gap: 10px;
    }
  }
}
@media (max-width: $mobile-big) {
  .catalog {
    padding: 40px 0 50px;
  }
}
@media (max-width: 640px) {
  .catalog {
    &__grid {
      display: block;
    }
    .product-item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: $mobile) {
  .catalog {
    .container {
      padding: 0 20px;
    }
    &__title {
      margin-bottom: 41px;
    }
    .title {
      &::before {
        right: auto;
        left: -195px;
      }
    }
  }
}