section.catalog
    .container
        .title-block
            h2.title.catalog__title Catalog
        .catalog__grid

            .product-item.product-item--blue
                img(src='img/account/dec2.svg' alt='decor').product-item__decor
                .product-item__img-wrap
                    img(src='img/account/prods/1-lg.png' alt='product').product-item__img
                .product-item__video
                    video(src='abstract-preview.mp4' muted loop)
                .product-item__content
                    .product-item__name Text animations
                    .product-item__footer
                        a(href='#').product-item__footer-txt Buy for 45$

            .product-item.product-item--yellow
                img(src='img/account/dec2.svg' alt='decor').product-item__decor
                .product-item__img-wrap
                    img(src='img/account/prods/2-lg.png' alt='product').product-item__img
                .product-item__content
                    .product-item__name Transitions
                    .product-item__footer
                        .product-item__footer-txt.opacity Purchased

            .product-item.product-item--wide
                img(src='img/account/dec2.svg' alt='decor').product-item__decor
                .product-item__img-wrap
                    img(src='img/account/prods/5.png' alt='product').product-item__img
                    img(src='img/account/product-decor.svg' alt='product').product-item__img-decor
                .product-item__content
                    .product-item__label
                        span Save 53$
                    .product-item__name Nitrozme<br> experience bundle
                    .product-item__footer
                        a(href='#').product-item__footer-txt Buy for 215$
                        a(href='#').product-item__footer-txt Subscribe for 45$/month

            .product-item.product-item--sm.product-item--pink
                img(src='img/account/dec2.svg' alt='decor').product-item__decor
                .product-item__img-wrap
                    img(src='img/account/prods/3-lg.png' alt='product').product-item__img
                .product-item__content
                    .product-item__name Animation Presets
                    .product-item__footer
                        a(href='#').product-item__footer-txt.opacity In the cart
                        a(href='#').product-item__footer-txt Subscribe for 5$/month

            .product-item.product-item--sm.product-item--green
                img(src='img/account/dec2.svg' alt='decor').product-item__decor
                .product-item__img-wrap
                    img(src='img/account/prods/4-lg.png' alt='product').product-item__img
                .product-item__content
                    .product-item__name Animation Pack
                    .product-item__footer
                        a(href='#').product-item__footer-txt Buy for 47$
                        .product-item__footer-txt.opacity Subscribed

            .product-item.product-item--sm
                img(src='img/account/dec2.svg' alt='decor').product-item__decor
                .product-item__img-wrap
                    img(src='img/account/prods/3-lg.png' alt='product').product-item__img
                .product-item__content
                    .product-item__name Instagram Library
                    .product-item__footer
                        a(href='#').product-item__footer-txt Buy for 43$
                        a(href='#').product-item__footer-txt Subscribe for 5$/month